body{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background-image: url('images/nicole-honeywill-416492-unsplash.jpg');
    background-position: 40% 30%;
    background-repeat:   no-repeat;
    background-size:     cover;
 
}
/***geniric part ended**/
/***body started**/
/**header started**/
.color-link{
    color: rgb(161, 103, 255);
}
.header-list-1{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  rgba(0, 0, 0, 0.719);
    display: flex;
    flex-direction: row-reverse;
}
.header-list-itmes1{
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.fa {
    font-size: 16px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
  }
  
  .fa:hover {
      background-color: rgba(255, 255, 255, 0.5);
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }
  
/**********socal media header ended*/
#logoimage{
    height: 150px;
}
.imgandtitle1{
display: flex;
align-items: center;
justify-content: center;
}
.imgandtitle2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  
    font-weight: bold;
    color:rgb(186, 147, 248);
    }
.header-list-2 {
    list-style-type: none;
    padding: 1%;
    overflow: hidden;
    font-weight: bold;
    display: flex; 
    justify-content: center;
    box-shadow: 0 4px 2px -2px gray;
    border-top: 1px solid  gray;
}
.header-list-3 {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    color: rgb(0, 0, 0);
    padding: 1%;
}
.header-list-itmes{
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
}
.header-list-itmes:hover {
    color: rgb(186, 147, 248);
    
}
/*** main started ***/
.main-class-first-part{
    display: flex;
    justify-content: center;
    padding-bottom: 1%;
    padding-bottom: 4%;
}
.cart {
    border-radius: 4px;
    background: rgba(186, 147, 248, 0.493);
    width: 75%;
    border: 1px solid rgba(186, 147, 248);
}

.cart-header {
    color: #525354;
    font-size: 30px;
    text-align: center;
    padding: 3%;
    border-bottom: 1px solid #9166b9;
}
.cart-titles{
    color: #525354;
    font-size: 30px;
    text-align: center;
    padding: 1%;
    border-bottom: 1px solid #9166b9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.clothes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2%;
    
}

.calcule {
    display: flex;
    justify-content: space-around;
    width: 10%;
}
.description{
    width: 10%;
}
.img_dimension {
   width:120px; height:100px;  
}
.product-name {
    font-size: 18px;
    margin-bottom: 10px;
    color: #525354;
}
.product-color {
    color: darkgray;
    font-weight: 10;
}

.price {
    font-weight: 100;
    font-size: 20px;
    color: gray;
}
.cart-footer{
    color: #525354;
    font-size: 16px;
    text-align: right;
    padding: 3%;
    border-top: 1px solid #9166b9;
}
.footer-first-part{
    text-align: left;  
}
.footer-second-part{
    text-align: left;  
}
.footer-fourth-part{
    text-align: left;  
}
/**footer started***/
.footercus{
    display: flex;
    align-items: center;
    justify-content: center;   
    background-color:  rgba(0, 0, 0, 0.719);
    border-top: 1px solid gray;
    text-align: center; 
    color: white;
}